<footer class="site-footer small--text-center" role="contentinfo">
  <div class="wrapper">
    <div class="grid-uniform">
       
      <!--Contact Us-->  
      <div class="grid__item post-large--one-fifth medium--one-half">
        <h3 class="h4">Contact Info</h3>
        <div class="rte">
          <p>Please contact us at:</p>
          <p>email@email.com</p>
        </div>
      </div>

      <!--Links-->  
      <div class="grid__item post-large--one-fifth medium--one-half">
        <h3 class="h4">Links</h3>
        <ul class="site-footer__links">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>

      <!--Follow Us-->  
      <div class="grid__item post-large--one-fifth medium--one-half">
        <h3 class="h4">Follow Us</h3>

        <ul class="inline-list social-icons">
            <a
              class="icon-fallback-text"
              href="https://www.facebook.com/stickerUnited/"
              title="stickerUnited on Facebook"
              target="_blank"
              aria-describedby="a11y-new-window-external-message"
            >
              <span class="icon icon-facebook" aria-hidden="true"></span>
              <span class="fallback-text">Facebook</span>
            </a>
          </li>
          <li>
            <a
              class="icon-fallback-text"
              href="https://www.instagram.com/stickerUnited"
              title="stickerUnited on Instagram"
              target="_blank"
              aria-describedby="a11y-new-window-external-message"
            >
              <span class="icon icon-instagram" aria-hidden="true"></span>
              <span class="fallback-text">Instagram</span>
            </a>
          </li>
          <li>
            <a
              class="icon-fallback-text"
              href="#"
              title="stickerUnitedon YouTube"
              target="_blank"
              aria-describedby="a11y-new-window-external-message"
            >
              <span class="icon icon-youtube" aria-hidden="true"></span>
              <span class="fallback-text">YouTube</span>
            </a>
          </li>
        </ul>
      </div>

      <!--Terms & Conditions--> 
      <div class="grid__item post-large--one-fifth medium--one-half">
        <h3 class="h4">Terms & Conditions</h3>

        <ul class="site-footer__links">
          <li><a href="#">Refund Policy</a></li>

          <li><a href="#">Terms of Service</a></li>

          <li><a href="#">Shipping Policy</a></li>
        </ul>
      </div>

      <!--Newsletter--> 
      <div class="grid__item post-large--one-fifth medium--one-half">
        <h3 class="h4">Newsletter</h3>

        <p>Sign up for the latest news, offers and styles</p>

        <div class="form-vertical small--hide">
          <form
            method="post"
            action="/contact#contact_form"
            id="contact_form"
            accept-charset="UTF-8"
            class="contact-form"
          >
            <input type="hidden" name="form_type" value="customer" /><input
              type="hidden"
              name="utf8"
              value="✓"
            />

            <input type="hidden" name="contact[tags]" value="newsletter" />
            <input
              type="email"
              value=""
              placeholder="Your email"
              name="contact[email]"
              id="Email"
              class="input-group-field"
              aria-label="Your email"
              autocorrect="off"
              autocapitalize="off"
            />
            <input
              type="submit"
              class="btn"
              name="subscribe"
              id="subscribe"
              value="Subscribe"
            />
          </form>
        </div>
        <div class="form-vertical post-large--hide large--hide medium--hide">
          <form
            method="post"
            action="/contact#contact_form"
            id="contact_form"
            accept-charset="UTF-8"
            class="contact-form"
          >
            <input type="hidden" name="form_type" value="customer" /><input
              type="hidden"
              name="utf8"
              value="✓"
            />

            <input type="hidden" name="contact[tags]" value="newsletter" />
            <div class="input-group">
              <input
                type="email"
                value=""
                placeholder="Your email"
                name="contact[email]"
                id="Email"
                class="input-group-field"
                aria-label="Your email"
                autocorrect="off"
                autocapitalize="off"
              />
              <span class="input-group-btn">
                <button type="submit" class="btn" name="commit" id="subscribe">
                  Subscribe
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</footer>
