<div class="container">
    <div class="stickers-cont">
        <h1 class="sticker-page-title">Athletes</h1>
        <div class="sticker-gallery">
            <div class="sticker-single">
                <img src="${stickers[4].imageURL}" />
                <p>
                    <div class="word">
                        <h2 class="sticker-title">${stickers[4].name}</h2>
                        <div class="icon" onclick="getElementById('Kobe').style.color= '#FFD500' "><i
                                class="fa-solid fa-star fa-2x" id="Kobe"></i> Like
                        </div>
                    </div>
                    
                </p>
            </div>
            <div class="sticker-single">
                <img src="${stickers[5].imageURL}" />
                <p>
                <div class="word">
                    <h2 class="sticker-title">${stickers[5].name}</h2>
                    <div class="icon" onclick="getElementById('Jordan').style.color= '#FFD500' "><i
                            class="fa-solid fa-star fa-2x" id="Jordan"></i> Like
                    </div>
                </div>

                </p>
            </div>
        </div>
    </div>
</div>