<div class="container">
    <!-- shop now section -->
    <h1 class="home-title">Browse Stickers by Category</h1>

    <div class="product-container">
        <div class="product-card">
            <a href="/artists"><img src="${stickers[2].imageURL}"/> </a> 
            <a href="artists"><h3 class="product-title">Artists</h3></a>
        </div>
        <div class="product-card">
             <a href="/athletes"><img src="${stickers[4].imageURL}"/></a> 
            <a href="athletes"><h3 class="product-title">Athletes</h3></a>
        </div>
        <div class="product-card">
            <a href="/sports"><img src="${stickers[1].imageURL}"/></a> 
            <a href="sports"><h3 class="product-title">Sports</h3></a>
        </div>
        <div class="product-card">
            <a href="/memes"><img src="${stickers[6].imageURL}"/></a> 
            <a href="memes"><h3 class="product-title">Meme</h3></a>
        </div>
        <div class="product-card">
            <a href="/cartoons"><img src="${stickers[9].imageURL}"/></a> 
            <a href="cartoons"><h3 class="product-title">Cartoons</h3></a>
        </div>
        <div class="product-card">
            <a href="/random"><img src="${stickers[10].imageURL}"/> </a> 
            <a href="random"><h3 class="product-title">Random</h3></a>
        </div>
        <div class="product-card" style="text-align: center;">
            <a href="stickers"><img src="/image/eye.png"/> </a> 
            <a href="stickers"><h3 class="product-title">View All</h3></a>
        </div>
       
    </div>
</div>
