<div class="container">
    <div class="stickers-cont">
    <h1 class="sticker-page-title">Memes</h1>
    <div class="sticker-gallery">
        <div class="sticker-single">
            <img src="${stickers[6].imageURL}" width="300" height="300"/>
            <p>
                <div class="word">
                    <h2 class="sticker-title">${stickers[6].name}</h2>
                    <div class="icon" onclick="getElementById('?').style.color= '#FFD500' "><i
                            class="fa-solid fa-star fa-2x" id="?"></i> Like
                    </div>
                </div>
            </p>
        </div>
        <div class="sticker-single">
            <img src="${stickers[7].imageURL}" />
            <p>
                <div class="word">
                    <h2 class="sticker-title">${stickers[7].name}</h2>
                    <div class="icon" onclick="getElementById('mike').style.color= '#FFD500' "><i
                            class="fa-solid fa-star fa-2x" id="mike"></i> Like
                    </div>
                </div>
            </p>
        </div>
    </div>
</div>
</div>
