<div class="container">
    <div class="stickers-cont">
    <h1 class="sticker-page-title">Stickers</h1>
    <div class="sticker-gallery">
        <div class="sticker-single">
            <img src="${stickers[10].imageURL}" />
            <p>
                <h2 class="sticker-title">${stickers[10].name}</h2>
                <i class="fa-solid fa-star fa-2x" id="star"></i>
            </p>
        </div>
        <div class="sticker-single">
            <img src="${stickers[11].imageURL}" />
            <p>
                <h2 class="sticker-title">${stickers[11].name}</h2>
                <i class="fa-solid fa-star fa-2x" id="star"></i>
            </p>
        </div>
    </div>
</div>
</div>
