<h1>Register an Account</h1>
<form onsubmit="return false"></form>
<div class="create" id="create">
    
    <input type="email" placeholder="Enter your email" id="newEmail" />
    <br><br>
    <input type="password" placeholder="Enter password" id="newPassword" />&nbsp;&nbsp;&nbsp;
    <br><br>
    <input type="password" placeholder="Enter password (confirm)" id="newPasswordCheck" />
    <br><br>

    <button onclick="createAccount();">Create Account</button>
    <div class="create"></div>

<div>Already a User?</div>
<a href="/login">  
    <button>Login</button>  
  </a>
</div>

<script src="/scripts/register.js"></script>
