<div class="container">
    <div class="stickers-cont">
    <h1 class="sticker-page-title">Placeholder</h1>
    <div class="sticker-gallery">
        <div class="sticker-single">
            <a href=""><img src="/images/badbunny.jpeg" class="stickerImage"></a>
            <h2 class="sticker-title">Bad Bunny Sticker</h2>
            <h3 class="sticker-price">$3.00</h3>
        </div>
        <div class="sticker-single">
            <a href=""><img src="/images/ben.jpeg" class="stickerImage"></a>
            <h2 class="sticker-title">Sticker Title</h2>
            <h3 class="sticker-price">Sticker Price</h3>
        </div>
        <div class="sticker-single">
            <a href=""><img src="/images/bucs.jpeg" class="stickerImage"></a>
            <h2 class="sticker-title">Sticker Title</h2>
            <h3 class="sticker-price">Sticker Price</h3>
        </div>
        <div class="sticker-single">
            <a href=""><img src="/images/cat.jpeg" class="stickerImage"></a>
            <h2 class="sticker-title">Sticker Title</h2>
            <h3 class="sticker-price">Sticker Price</h3>
        </div>
        <div class="sticker-single">
            <a href=""><img src="/images/cubs.jpeg" class="stickerImage"></a>
            <h2 class="sticker-title">Sticker Title</h2>
            <h3 class="sticker-price">Sticker Price</h3>
        </div>
        <div class="sticker-single">
            <a href=""><img src="/images/eddy.jpeg" class="stickerImage"></a>
            <h2 class="sticker-title">Sticker Title</h2>
            <h3 class="sticker-price">Sticker Price</h3>
        </div>
        <div class="sticker-single">
            <a href=""><img src="/images/jordan.jpeg" class="stickerImage"></a>
            <h2 class="sticker-title">Sticker Title</h2>
            <h3 class="sticker-price">Sticker Price</h3>
        </div>
        <div class="sticker-single">
            <a href=""><img src="/images/kobesticker.jpeg" class="stickerImage"></a>
            <h2 class="sticker-title">Sticker Title</h2>
            <h3 class="sticker-price">Sticker Price</h3>
        </div>
        <div class="sticker-single">
            <a href=""><img src="/images/meme.jpeg" class="stickerImage"></a>
            <h2 class="sticker-title">Sticker Title</h2>
            <h3 class="sticker-price">Sticker Price</h3>
        </div>
         <div class="sticker-single">
            <a href=""><img src="/images/mikeWazoski.jpeg" class="stickerImage"></a>
            <h2 class="sticker-title">Sticker Title</h2>
            <h3 class="sticker-price">Sticker Price</h3>
        </div>
        <div class="sticker-single">
            <a href=""><img src="/images/rocketleague.jpeg" class="stickerImage"></a>
            <h2 class="sticker-title">Sticker Title</h2>
            <h3 class="sticker-price">Sticker Price</h3>
        </div>
        <div class="sticker-single">
            <a href=""><img src="/images/tupac.jpg" class="stickerImage"></a>
            <h2 class="sticker-title">Sticker Title</h2>
            <h3 class="sticker-price">Sticker Price</h3>
        </div>

    </div>
</div>
</div>
