<div class="container">
    <div class="stickers-cont">
    <h1 class="sticker-page-title">Stickers - All</h1>
    <div class="sticker-gallery">
        <div class="sticker-single">
            <img src="${stickers[0].imageURL}" />
            <p>
                <div class="word">
                    <h2 class="sticker-title">${stickers[0].name}</h2>
                    <div class="icon" onclick="getElementById('bucs').style.color= '#FFD500' "><i
                            class="fa-solid fa-star fa-2x" id="bucs"></i> Like
                    </div>
                </div>
            </p>
        </div>
        <div class="sticker-single">
            <img src="${stickers[1].imageURL}" />
            <p>
                <div class="word">
                    <h2 class="sticker-title">${stickers[1].name}</h2>
                    <div class="icon" onclick="getElementById('cubs').style.color= '#FFD500' "><i
                            class="fa-solid fa-star fa-2x" id="cubs"></i> Like
                    </div>
                </div>
            </p>
        </div>        <div class="sticker-single">
            <img src="${stickers[2].imageURL}" />
            <p>
                <div class="word">
                    <h2 class="sticker-title">${stickers[2].name}</h2>
                    <div class="icon" onclick="getElementById('tupac').style.color= '#FFD500' "><i
                            class="fa-solid fa-star fa-2x" id="tupac"></i> Like
                    </div>
                </div>
            </p>
        </div>
        <div class="sticker-single">
            <img src="${stickers[3].imageURL}" width="300" height="300" />
            <p>
                <div class="word">
                    <h2 class="sticker-title">${stickers[3].name}</h2>
                    <div class="icon" onclick="getElementById('bunny').style.color= '#FFD500' "><i
                            class="fa-solid fa-star fa-2x" id="bunny"></i> Like
                    </div>
                </div>
            </p>
        </div>
        <div class="sticker-single">
            <img src="${stickers[4].imageURL}" />
            <p>
                <div class="word">
                    <h2 class="sticker-title">${stickers[4].name}</h2>
                    <div class="icon" onclick="getElementById('kobe').style.color= '#FFD500' "><i
                            class="fa-solid fa-star fa-2x" id="kobe"></i> Like
                    </div>
                </div>
            </p>
        </div>
        <div class="sticker-single">
            <img src="${stickers[5].imageURL}" />
            <p>
                <div class="word">
                    <h2 class="sticker-title">${stickers[5].name}</h2>
                    <div class="icon" onclick="getElementById('jordan').style.color= '#FFD500' "><i
                            class="fa-solid fa-star fa-2x" id="jordan"></i> Like
                    </div>
                </div>
            </p>
        </div>
        <div class="sticker-single">
            <img src="${stickers[6].imageURL}" width="300" height="300" />
            <p>
                <div class="word">
                    <h2 class="sticker-title">${stickers[6].name}</h2>
                    <div class="icon" onclick="getElementById('?').style.color= '#FFD500' "><i
                            class="fa-solid fa-star fa-2x" id="?"></i> Like
                    </div>
                </div>
            </p>
        </div>
        <div class="sticker-single">
            <img src="${stickers[7].imageURL}" />
            <p>
                <div class="word">
                    <h2 class="sticker-title">${stickers[7].name}</h2>
                    <div class="icon" onclick="getElementById('mike').style.color= '#FFD500' "><i
                            class="fa-solid fa-star fa-2x" id="mike"></i> Like
                    </div>
                </div>
                
            </p>
        </div>
        <div class="sticker-single">
            <img src="${stickers[8].imageURL}" />
            <p>
                <div class="word">
                    <h2 class="sticker-title">${stickers[8].name}</h2>
                    <div class="icon" onclick="getElementById('ben').style.color= '#FFD500' "><i
                            class="fa-solid fa-star fa-2x" id="ben"></i> Like
                    </div>
                </div>
                
            </p>
        </div>
        <div class="sticker-single">
            <img src="${stickers[9].imageURL}" />
            <p>
                <div class="word">
                    <h2 class="sticker-title">${stickers[9].name}</h2>
                    <div class="icon" onclick="getElementById('ed').style.color= '#FFD500' "><i
                            class="fa-solid fa-star fa-2x" id="ed"></i> Like
                    </div>
                </div>
            </p>
        </div>
        <div class="sticker-single">
            <img src="${stickers[10].imageURL}" />
            <p>
                <div class="word">
                    <h2 class="sticker-title">${stickers[10].name}</h2>
                    <div class="icon" onclick="getElementById('cat').style.color= '#FFD500' "><i
                            class="fa-solid fa-star fa-2x" id="cat"></i> Like
                    </div>
                </div>
            </p>
        </div>
        <div class="sticker-single">
            <img src="${stickers[11].imageURL}" />
            <p>
                <div class="word">
                    <h2 class="sticker-title">${stickers[11].name}</h2>
                    <div class="icon" onclick="getElementById('car').style.color= '#FFD500' "><i
                            class="fa-solid fa-star fa-2x" id="car"></i> Like
                    </div>
                </div>
            </p>
        </div>



    </div>
</div>
</div>
