    <!-- countdown section -->
    <div class="countdown">
        <h1>Next Weeks Drops</h1>
    </div>

    <div class="div">
        <p id="demo"></p>
        <p id="btn"></p>
    </div>

    <!-- shop now section -->
    <h1>Shop Now</h1>
    <div class="product-container">
        <div class="product-card">
            <img src="cookie.jpeg" alt="" width="100" height="100"></img>
            <h3 class="product-title"> One</h3>
        </div>
        <div class="product-card">
            <img src="cookie.jpeg" alt="" width="100" height="100"></img>
            <h3 class="product-title"> Two</h3>
        </div>
        <div class="product-card">
            <img src="cookie.jpeg" alt="" width="100" height="100"></img>
            <h3 class="product-title"> Three</h3>
        </div>
        <div class="product-card">
            <img src="cookie.jpeg" alt="" width="100" height="100"></img>
            <h3 class="product-title"> Six</h3>
        </div>
        <div class="product-card">
            <img src="cookie.jpeg" alt="" width="100" height="100"></img>
            <h3 class="product-title"> Seven</h3>
        </div>
    </div>

    <!-- about us section -->
    <div class="about">
        <h1>About Us</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat facere itaque delectus fuga nisi numquam?
            Hic expedita corrupti numquam minus modi quis, provident amet omnis illum id neque blanditiis placeat, iste
            quisquam nesciunt, deserunt doloribus. Similique quaerat illum autem, fuga modi unde at eligendi voluptatem
            ex laboriosam! Ab, molestiae quia.</p>
    </div>

    <!-- more products section -->
    <h1>More Products</h1>
    <div class="product-container2">
        <div class="product-card2">
            <img src="cookie.jpeg" alt="" width="100" height="100"></img>
            <h3 class="product-title"> One</h3>
        </div>
        <div class="product-card2">
            <img src="cookie.jpeg" alt="" width="100" height="100"></img>
            <h3 class="product-title"> Two</h3>
        </div>
        <div class="product-card2">
            <img src="cookie.jpeg" alt="" width="100" height="100"></img>
            <h3 class="product-title"> Three</h3>
        </div>
    </div>

    <!-- what we offer section -->
    <h1>What we offer</h1>
    <ul>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, quisquam.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, quisquam.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, quisquam.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, quisquam.</li>
    </ul>