* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header */
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.fs-1 {
  font-weight: bold;
}

:root {
  --navbar-bg-color: #fff;
  --navbar-text-color: #000;
  --navbar-text-color-focus: #000;
  --navbar-bg-contrast: #fff;
}

#navbar {
  --navbar-height: 70px;
  position: relative;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.navbar-item {
  width: 100%;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar-menu {
  position: fixed;
  top: 64px;
  bottom: 75%;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: #fff;
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0 !important;
  width: 100%;
}

/* shop now section (main page)*/
h1 {
  text-align: center;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.product-card {
  flex: 1 20%;
  text-align: center;
  margin-bottom: 25px;
}
.product-card img {
  margin-bottom: 15px;
  width: 300px;
  height: 300px;
}




/* stickers page */
.stickers-cont {
  padding-left: 55px;
  padding-right: 55px;
}

.sticker-page-title {
  text-align: center;
}

.sticker-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 8px;
  margin: 0 10px;
}

.sticker-single {
  margin-bottom: 20px;
  padding: 0 8px;
  position: relative;
}

.sticker-gallery .sticker-single img {
  width: 300px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.sticker-title {
  display: inline;
  font-size: 25px;
}

#star {
display: inline;
margin-left: 199px;
cursor: pointer;
color: rgb(166, 166, 166);

}



@media only screen and (max-width: 360px) {
  #navbar-menu {
    bottom: 90%;
  }

  .container {
    padding-top: 60px;
  }

  .sticker-gallery {
    grid-template-columns: repeat(1, 1fr);
  }

}

@media only screen and (min-width: 360px) {
  #navbar-menu {
    bottom: 90%;
  }

  .container {
    padding-top: 60px;
  }

  .sticker-gallery {
    grid-template-columns: repeat(1, 1fr);
  }

}


@media only screen and (min-width: 768px) {
  #navbar-menu {
    bottom: 90%;
  }

  .container {
    padding-top: 60px;
  }

  .sticker-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .sticker-gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  #navbar-toggle {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded='true'] + #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}